body {
  text-align: center;
  font-family: courier;
  background: linear-gradient(134deg, turquoise, purple);
  height: 100vh;
  min-height: 600px;
}

h4 {
  font-family: Raleway;
  color: #EEE;
  text-shadow: 2px 2px #888;
  letter-spacing: 12px;
  border-radius: 22% -45% 9%;
  border-bottom: 1px #AAA bevel;
  font-size: 28px;
}

.container {
  background: linear-gradient(0deg, rgba(68, 68, 68, 0.6), rgba(160, 160, 160, 0.6));
  width: 320px;
  height: 500px;
  margin-top: 10vh;
  text-align: center;
  left: 50%;
  border-radius: 40px;
  border: 2px #AAA outset;
  box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.7);
}

.display {
  min-height:80px;
  overflow-x: hidden;
  color: #222;
  text-shadow: 3px 2px #666;
  border-radius: 25px;
  width: auto;
  margin: 9px;
  background: black;
  font-size: 46px;
  text-align: right;
  padding-right: 10px;
  padding-left: 17px;
  box-shadow: 2px 2px 0px 0px rgba(155, 155, 155, 0.6);
  border: 6px inset #666;
  background: linear-gradient(#BBB, #DDD);
}

button {
  color: #CFC;
  text-shadow: 1px 2px #555;
  border: 1px outset;
  border-radius: 40%;
  background: linear-gradient(#555, #444);
  height: 45px;
  width: 65px;
  margin: 2px;
  box-shadow: 3px 1px 1px 2px rgba(0, 0, 0, 0.6);
  display: inline;
  font-size: 24px;
}

button:hover {
  background: #CFC;
  color: black;
}

.row {
  display: block !important;
}

.rowFive {
  padding-left: 69px;
}

.red {
  color: #FCC;
}

.blue {
  color: #CCF;
}

h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

.menu_btn {
  font-family: helvetica;
  width: 125px;
  float: left;
  margin-left: 5px;
  &:first-child .dd_btn {
    background: #f1c40f;
    &:active {
      background: #f39c12;
    }
  }
  &:nth-child(2) .dd_btn {
    background: #2ecc71;
    &:active {
      background: #27ae60;
    }
  }
  &:nth-child(3) .dd_btn {
    background: #3498db;
    &:active {
      background: #2980b9;
    }
  }
  &:nth-child(4) .dd_btn {
    background: #e74c3c;
    &:active {
      background: #c0392b;
    }
  }
  .dd_btn {
    height: 50px;
    width: 125px;
    color: #fff;
    font-size: 18px;
    border: 0px;
    z-index: 3;
    float: left;
    cursor: pointer;
    background-color: #E19E19;
    &:active {
      background-color: #946810;
    }
    &:focus {
      outline: none;
    }
  }
  .dd {
    position: absolute;
    width: 255px;
    margin-top: 55px;
    background: white;
    text-align: center;
    a {
      width: 100%;
      display: block;
      height: 100%;
      padding: 15px 0 15px 0;
      text-decoration: none;
      color: #666;
      background: #f9f9f9;
      &:hover {
        background: #ecf0f1;
      }
      &:active {
        background-color: #bdc3c7;
        color: #fff;
      }
    }
  }
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
